<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="FATE Aspects">
        <Require feature="rpc" />
        <Require feature="views" />
    </ModulePrefs>
    <Content type="html"><![CDATA[
        <script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/start/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

        <script src="//raw.githubusercontent.com/jantoniomartin/hangouts-fate-aspects/master/ggs/fate-aspects.js"></script>

        <div id="aspects">
            <h3>Scenario aspects</h3>
            <div>
                <ul id="scenario"></ul>
                <form id="scenario_add" action="">
                    <input id="scenario_name" type="text" />
                </form>
            </div>
            <h3>Situation aspects</h3>
            <div>
                <ul id="scene"></ul>
                <form id="scene_add" action="">
                    <input id="scene" type="text" />
                </form>
            </div>
        </div>
    ]]></Content>
</Module>

